body {
  background-image: url('../images/rapture.jpeg');
  background-size: cover;
}

header {
  text-align: center;
  color: white;
  background: #3498db;
  padding: 3vh;
  height: 12vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 75vh; */
}

.copy-wrap {
  padding-right: 10px;
  /* border-right: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* #form {
  background: #ccc;
  padding: 2vh;
  border-radius: .5em;
} */

/* .copy-wrap {
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #ccc;
} */

.box {
  margin: 25px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
  /* margin: 0 auto; */
  /* padding: 25px 10px; */
  min-width: 60vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: white;
  opacity: .9;
  border-bottom: 1px solid gray;
}

.box:last-child {
  margin-bottom: 2vh;
}

.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user input {
  font-weight: bold;
  border: none;
  text-align: center;
  font-size: 1.25em;
  min-width: 225px;
  margin-right: 20px;
  /* background: #ccc; */
}

.key {
  display: flex;
  justify-content: space-between;
}

.key input {
  text-align: center;
  min-width: 245px;
  margin-right: 10px;
}

/* .key input {
  -webkit-text-security: disc;
} */

.brdr {
  /* width: 5px; */
  min-height: 100%;
  /* background: red; */
  border-right: 1px solid #ccc;
}

.ticker {
  padding-left: 10px;
}

.ticker > p {
  margin: 0;
  padding: 5px;
  min-width: 225px;
}
/* .ticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* aside {
  width: 100%;
} */

.ticker p {
  text-align: center;
  margin: 2vh auto;
  font-size: 3em;
  font-family: monospace;
  background: black;
  color: white;
  border: 3px solid black;
  border-radius: 5px;
}

.ticker button {
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

footer {
  /* position: absolute;
  bottom: 0; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #c0392b;
  height: 10vh;
}

footer p {
  margin: 10px;
  color: white;
  align-self: center;
}

.popup {
  position: absolute;
  top: 37%;
  left: 35%;
  height: 250px;
  width: 500px;
  border-radius: 10px;
  background: #8E44AD;
  color: #1BA39C;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  opacity: .95;
}

.popup h3 {
  text-align: center;
  padding-top: 110px;
}

.off {
  display: none;
}

.slide {
  animation-name: slide;
  animation-duration: 1.75s;
  animation-timing-function: ease-out;
}

@keyframes slide {
  0% {top: -10px;}
  70% {top: 40%;}
  90% {top: 34%;}
  100% {top: 37%;}
}

/* .shrink {
  animation-name: shrink;
  animation-duration: 1s;
}

@keyframes shrink {
  0% {width: 500px;}
  25% {width: 300px;}
  50% {width: 200px;}
  75% {width: 100px;}
  100% {width: 2px;}
} */

@media only screen and (orientation: portrait) {
  body {
    background-image: url('../images/rapture-vert.jpeg');
    background-size: cover;
  }
  header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }
}

/* @media only screen and (max-width: 400px) {
#form {
  min-width: 90vw;
}

.box {
  min-width: 90vw;
}


  footer {
    position: absolute;
    bottom: 0;
  }
} */