h1 {
  text-align: center;
  color: white;
  background: #3498db;
  padding: 3vh;
  height: 12vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

#form {
  background: #ccc;
  padding: 2vh;
  border-radius: .5em;
}

/* .copy-wrap {
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #ccc;
} */

.box {
  margin: 0 auto;
  padding: 25px 10px;
  text-align: center;
  display: flex;
  border-bottom: 1px solid gray;
}

.box:first-child {
  margin-top: 0;
}

.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  /* padding-bottom: 2vh;
  border-bottom: 1px solid #ccc; */
}

.user input {
  font-weight: bold;
  border: none;
  text-align: center;
  font-size: 1.25em;
  width: 200px;
  margin-right: 20px;
  background: #ccc;
}

.key {
  display: flex;
  justify-content: space-between;
}

/* .ticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* aside {
  width: 100%;
} */

.ticker p {
  text-align: center;
  margin: 2vh auto;
  font-size: 3em;
  font-family: monospace;
  border: 3px solid black;
  border-radius: 5px;
  background: black;
  color: white;
}

.ticker button {
  display: block;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #c0392b;
  height: 10vh;
}

footer p {
  margin: 10px;
  color: white;
  align-self: center;
}

.popup {
  position: absolute;
  top: 37%;
  left: 35%;
  height: 250px;
  width: 500px;
  border-radius: 10px;
  background: #8E44AD;
  color: #1BA39C;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  opacity: .95;
}

.popup h3 {
  text-align: center;
  padding-top: 110px;
}

.off {
  display: none;
}

.slide {
  animation-name: slide;
  animation-duration: 1.75s;
  animation-timing-function: ease-out;
}

@keyframes slide {
  0% {top: -10px;}
  70% {top: 40%;}
  90% {top: 34%;}
  100% {top: 37%;}
}

/* .shrink {
  animation-name: shrink;
  animation-duration: 1s;
}

@keyframes shrink {
  0% {width: 500px;}
  25% {width: 300px;}
  50% {width: 200px;}
  75% {width: 100px;}
  100% {width: 2px;}
} */

@keyframes bounce {
  0% {width: 103px; height: 38px;}
  25% {width: 200px; height: 80px;}
  50% {width: 300px; height: 120px;}
  75% {width: 200px; height: 80px;}
  100% {width: 103px; height: 38px;}
}

.bounce {
  position: absolute;
  animation-name: bounce;
  animation-duration: .2s;
}